.header {
  height: 150px;
  width: 100%;
  top: 0;
  margin: 0.5em 0;
  background-color: #eac1c2;
  border-radius: 1em;
  opacity: 0.6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

.header:hover {
   opacity: 0.85;
}
/*#cdbdcd*/
p, .navigation span {
  color: blue;
  font-family: "Permanent Marker", cursive;
  font-size: 1.2em;
}
h1 {
  color: blue;
}
ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 2em;
}
li {
  list-style: none;
}
.socialMediaLinks img {
  height: 75px;
  width: 75px;
}
@media only screen and (max-width: 1240px) {
.navigation span, p { 
  font-size: 1em;
}
.socialMediaLinks img {
  height: 50px;
  width: 50px;
}
}
@media only screen and (max-width: 1024px) {
  .socialMediaLinks img {
    height: 36px;
    width: 36px;
  }
  .header p { display: none;}
}
@media only screen and (max-width: 560px) {
  h1 { display: none;}
  .header {
    margin: 0;
    justify-content: center;
  }

}