
body {
  margin: 0 auto;
  max-width: 1900px;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  /*flex-direction: column;*/
  height: 100%;
  background-image: url("./assets/pictures/wallpaperflare.jpg");
  padding: 0 ;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#root {
 /* max-width: 2200px;*/
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.container-general {
  margin: 0   ;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  max-width: 2200px;
  width: 100%;
}
@media only screen and (max-width: 560px) {
body {
  padding: 0 ;
}
.container-general {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;

}
}